<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CouponMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into coupon(name, discount, start_time, end_time, status, create_time, update_time, create_user, update_user)
        values (#{name}, #{discount}, #{startTime}, #{endTime}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.sky.entity.Coupon">
        select * from coupon
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="startTime != null">
                and end_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update" parameterType="com.sky.entity.Coupon">
        update coupon
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from coupon where id = #{id}
    </delete>
</mapper>
