<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.MemberFavoriteMapper">
    <select id="pageQuery" resultType="com.sky.vo.MemberFavoriteVO">
        select mf.*, u.name as memberName, u.phone,
               coalesce(d.name, s.name) as goodsName,
               coalesce(d.image, s.image) as goodsImage
        from member_favorite mf
                 left join user u on mf.user_id = u.id
                 left join dish d on mf.dish_id = d.id
                 left join setmeal s on mf.setmeal_id = s.id
        <where>
            <if test="memberName != null and memberName != ''">
                and u.name like concat('%', #{memberName}, '%')
            </if>
            <if test="goodsName != null and goodsName != ''">
                and coalesce(d.name, s.name) like concat('%', #{goodsName}, '%')
            </if>
        </where>
        order by mf.create_time desc
    </select>

    <delete id="deleteById">
        delete from member_favorite where id = #{id}
    </delete>
</mapper>
